body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #181818;
    font: 1em/1.5 Palatino, "Book Antiqua", Georgia, serif;
    color: #eee;
}

a {
    color: #aaa;
    margin: 0px 10px;
}

a:hover {
    color: #eee;
}

p {
    margin: 0;
    padding: 10px 0px;
}

main {
    width: 100%;
    margin: 0 auto;
    text-align: center;    
}

footer {
    width: 100%;
    background-color: #232323;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
}