/* Base */ 
body {
    background-color: #222;
    width: 100%;
    font: 1em/1.5 Palatino, "Book Antiqua", Georgia, serif;
    color: #eee;
}

a {
    color: #aaa;
    margin: 0px 10px;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 10px 0px;
}
